<%- include('parts/header') %>
<%- include('parts/navbar') %>
<div class="container">
    <% if(!items) { %>
        <p class="alert alert-danger">There is no items</p>
    <% } else { %>
        
        <table>
            <thead>
                <td style="border: 1px solid black; padding: 8px;">Product name</td>
                <td style="border: 1px solid black; padding: 8px;">Amount</td>
                <td style="border: 1px solid black; padding: 8px;">Cost</td>
                <td style="border: 1px solid black; padding: 8px;">Address</td>
                <td style="border: 1px solid black; padding: 8px;">status</td>
                <td style="border: 1px solid black; padding: 8px;">Time</td>
            </thead>
            <tbody>
                <% let cost = 0; %>
                <% for (let i = 0; i < items.length; i++) { %>
                    <tr>
                        <td style="border: 1px solid black; padding: 8px;"><%= items[i].name %></td>
                        <% cost += items.price %>
                        <form method="post">
                            <input type="hidden" name="status" value="<%= items[i].status %>">
                            <input type="hidden" name="productId" value="<%= items[i]._id %>">
                            <td style="border: 1px solid black; padding: 8px;"> <input type="text" name="amount" class="form-control" value="<%= items[i].amount %>"></td>
                        </form>
                        <td style="border: 1px solid black; padding: 8px;"> <%= items[i].amount * items[i].price %> $ </td>
                        <td style="border: 1px solid black; padding: 8px;"> <%= items[i].address %></td>
                        <td style="border: 1px solid black; padding: 8px;"> <%= items[i].status %></td>
                        <td style="border: 1px solid black; padding: 8px;"> <%= time.days %>:<%= time.hours %>:<%= time.minutes %> </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% if(ordersError) { %>
            <% for(let err of ordersError) { %>
                <p class="alert alert-danger"><%= err.msg %></p>    
            <% } %>
        <% } %>    
    <% } %>
</div>

<%- include('parts/footer') %>